{% extends 'base.html.twig' %}

{% block title %}Resetuj hasło{% endblock %}

{% block body %}
<div class="container text-center" style="width: 40%;">
    <h1>Resetuj hasło</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Resetuj hasło</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}

