{% extends 'base.html.twig' %}

{% block body %}

  <div class="container text-center" style="width: 40%;">
    <h1>Zweryfikuj swój adres email</h1>
    <a href="{{ path('app_logout') }}">Wyloguj się</a>
  </div>

{% endblock %}
